# Libs and Initial Dataframes

In [1]:
import numpy as np
import pandas as pd

In [13]:
bt_df = pd.read_csv('../processed_files/bts.csv', delimiter=',', encoding='utf-8')
df_train = pd.read_csv('../processed_files/meds_train_alunos.csv', delimiter=',', encoding='utf-8')

# Visualizing dataframes basic infos

## BTSs

In [14]:
bt_df = bt_df.iloc[:, 1:].drop(columns=['id_bts', 'nom_bts', 'nom_canal_controle_bts'])

In [15]:
bt_df

   id_localizacao_setor  num_lat_bts num_long_bts  num_azimuth   id_rrsi
0                     1     -804.342      -34.952            0  rssi_1_1
1                     1     -804.342      -34.952          120  rssi_1_2
2                     1     -804.342      -34.952          240  rssi_1_3
3                     2     -805.289  -34.944.672            0  rssi_2_1
4                     2     -805.289  -34.944.672          120  rssi_2_2
5                     2     -805.289  -34.944.672          240  rssi_2_3
6                     3     -805.532     -349.579            0  rssi_3_1
7                     3     -805.532     -349.579          120  rssi_3_2
8                     3     -805.532     -349.579          240  rssi_3_3

# Train DF

In [16]:
df_train = df_train.iloc[:, 1:]
df_train

,id_ponto,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,num_lat_bts,num_long_bts,flag_indoor
0,6604,-103.705,-110.425,NaN,-110.33,-108.345,-106.59,NaN,-102.120,-115.000,5.0,3.0,2.0,-8.055786,-34.951505,True
1,5515,-105.225,-115.000,-105.21,-115.00,-105.835,-115.00,-88.470,NaN,-108.120,5.0,3.0,2.0,-8.055784,-34.951608,True
2,5049,-102.610,-115.000,-101.38,-115.00,-104.295,-97.36,-96.980,-995.725,-115.000,5.0,3.0,2.0,-8.055506,-34.951693,True
3,8737,-89.140,NaN,NaN,NaN,-965.925,-92.46,NaN,-102.688,-87.270,4.0,7.0,2.0,-0.805039,-3.495963,False
4,1203,NaN,-107.200,-107.01,-108.43,NaN,NaN,-103.065,-102.110,-115.000,5.0,3.0,2.0,-0.805538,-34.951736,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6770,5734,-105.225,-115.000,-105.21,-115.00,-105.835,-115.00,-93.005,NaN,-108.120,5.0,3.0,2.0,-8.055784,-34.951608,True
6771,5191,-105.225,-115.000,-105.21,-115.00,-105.835,-115.00,-87.315,NaN,-108.120,5.0,3.0,2.0,-8.055784,-34.951608,True
6772,5390,-105.225,-115.000,-105.21,-115.00,-105.835,-115.00,-95.165,NaN,-108.120,5.0,3.0,2.0,-8.055784,-34.951608,True
6773,860,NaN,-107.200,-107.01,-108.43,-97.200,NaN,-99.840,-94.665,-115.000,5.0,3.0,2.0,-0.805538,-34.951736,True
6774,7270,NaN,NaN,NaN,-85.12,-83.190,NaN,-91.120,-101.740,-963.725,5.0,3.0,3.0,-0.805532,-3.495108,False